<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/themes/default.css">
    <link rel="stylesheet" href="css/themes/orange.css">
    <link rel="stylesheet" href="css/edittableSpan.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="css/share.css">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="stylesheet" href="css/skinPicker.css">
    <title>Document</title>
</head>

<body class="default">
    <div id="app" class="page">
        <aside v-show="mode !== 'preview'">
            <div class="upper">
                <ul class="actions">
                    <li>
                        <button class="button" @click="onClickSave">保存</button>
                    </li>
                    <li>
                        <button class="button" @click="onShare">分享</button>
                    </li>
                    <li>
                        <button class="button" @click="print">打印</button>
                    </li>
                    <li>
                        <button class="button" @click="skinPickerVisible = !skinPickerVisible">换肤</button>
                    </li>
                </ul>
            </div>
            <div class="down">
                <button class="button" @click="onLogout" v-show="hasLogin()">登出</button>
            </div>

        </aside>
        <main>
            <div class="resume">
                <section class="profile">
                    <span>
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.name" v-on:edit="onEdit('name', $event)"></editable-span>
                    </span>
                    <h1></h1>
                    <p>应聘职位：
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.jobTitle" v-on:edit="onEdit('jobTitle', $event)"></editable-span>
                    </p>
                    <p class="profile">
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.birthday" v-on:edit="onEdit('birthday', $event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.gender" v-on:edit="onEdit('gender', $event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.email" v-on:edit="onEdit('email', $event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.phone" v-on:edit="onEdit('phone', $event)"></editable-span>
                    </p>
                </section>
                <section class="skills">
                    <h2>技能</h2>
                    <ul>
                        <li v-for="skill,index in displayResume.skills">
                            <editable-span :disabled="mode === 'preview'" class="name" v-bind:value="skill.name" v-on:edit="onEdit(`skills[${index}].name`,$event)"></editable-span>
                            <div class="description">
                                    <editable-span :disabled="mode === 'preview'" v-bind:value="skill.description" v-on:edit="onEdit(`skills[${index}].description`,$event)"></editable-span>
                            </div>
                            <span class="remove" v-if="index>=4 && mode === 'edit'" @click="removeSkill(index)">x</span>
                        </li>
                        <li class="add" v-if="mode === 'edit'">
                            <span @click="addSkill">添加</span>
                        </li>
                    </ul>
                </section>
                <section class="projects">
                    <h2>项目经历</h2>
                    <ol>
                        <li v-for="project,index in displayResume.projects">
                            <header>
                                <div class="start">
                                    <h3 class="name">
                                        <editable-span :disabled="mode === 'preview'" :value="project.name" @edit="onEdit(`projects[${index}].name`,$event)"></editable-span>
                                    </h3>
                                    <span class="link">
                                        <editable-span :disabled="mode === 'preview'" :value="project.link" @edit="onEdit(`projects[${index}].link`,$event)"></editable-span>
                                    </span>
                                </div>
                                <div class="end">
                                    <span class="keywords">
                                            <editable-span :disabled="mode === 'preview'" :value="project.keywords" @edit="onEdit(`projects[${index}].keywords`,$event)"></editable-span>
                                    </span>
                                </div>
                            </header>
                            <p class="description">
                                    <editable-span :disabled="mode === 'preview'" :value="project.description" @edit="onEdit(`projects[${index}].description`,$event)"></editable-span>
                            </p>
                            <span class="remove" @click="removeProject(index)" v-if="index>=2 && mode === 'edit'">x</span>
                        </li>
                        <li class="add" v-if="mode === 'edit'">
                            <span @click="addProject">添加</span>
                        </li>    
                    </ol>
                </section>
            </div>
        </main>
        <login v-show="loginVisible" @close="onCloseLogin" @login="onLogin"></login>
        <share :share-link="shareLink" v-show="shareVisible"></share>
        <sign-up v-show="signUpVisible"></sign-up>
        <skin-picker v-show="skinPickerVisible"></skin-picker>
    </div>
    <script src="../vendors/av-min.js"></script>
    <script src="./js/av.js"></script>
    <script src="../vendors/vue.min.js"></script>
    <script src="./js/editable-span.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/share.js"></script>
    <script src="./js/signUp.js"></script>
    <script src="./js/skinPicker.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>